/*A different background color.
A different font family.
A different font size.
A different font color.
A different line height.
A different padding value.
Each should have a border, but with rounded
 corners of different size (e.g. one article 
 	could have
 barely rounded borders, but the next one could 
 be almost circular in shape)*/

 


 #sourdough {
 	background-color: tomato;
 	font-family: Helvetica, sans-serif;
 	font-size: 0.75em;
 	font-color: powderBlue;
 	line-height: 1.25em;
 	padding: 0.5em;
 	border: solid 0.2em slateGray;
 }

 #baguette {
 	background-color: goldenrod;
 	font-family: , sans-serif;
 	font-size: 3em;
 	font-color: charcoal;
 	line-height: 2em;
 	padding: 1em;
 	border: dotted 0.5em black;

 }

 #challah {
 	background-color: ;
 	font-family: , sans-serif;
 	font-size: em;
 	font-color: ;
 	line-height: ;
 	padding: ;
 	border: ;



 }

 #flatbread {
 	background-color: ;
 	font-family: , sans-serif;
 	font-size: em;
 	font-color: ;
 	line-height: ;
 	padding: ;
 	border: ;

 }