/*A different background color.
A different font family.
A different font size.
A different font color.
A different line height.
A different padding value.
Each should have a border, but with rounded
 corners of different size (e.g. one article 
 	could have
 barely rounded borders, but the next one could 
 be almost circular in shape)*/



h2 {
	color: brown;

}

 
body {
	text-align: center;
	display: block;
	flex: ;

}


/*------ARTICLES--------------------*/


 #sourdough {
 	background-color: tomato;
 	font-family: Helvetica, sans-serif;
 	font-size: 1.25em;
 	color: ivory;
 	line-height: 1em;
 	padding: 0.5em;
 	border: solid 0.2em pink;
 	border-radius: 30px;
 	margin: 30px;
 }

 #baguette {
 	background-color: salmon;
 	font-family: "Trebuchet MS", sans-serif;
 	font-size: 3em;
 	color: azure;
 	line-height: 1.25em;
 	padding: 1em;
 	border: dotted 0.5em black;
 	border-radius: 50px;
 	margin: 80px;
 }

 #rye {
 	background-color: goldenrod;
 	font-family: "Times New Roman", sans-serif;
 	font-size: 3em;
 	color: brown;
 	line-height: 0.8em;
 	padding: 2em;
 	border: solid 0.25em yellow;
 	border-radius: 80px;
 	font-weight: 800;
 	margin: 90px;
 }

 #challah {
 	background-color: black;
 	font-family: Georgia, sans-serif;
 	font-size: 2.5em;
 	color: white;
 	line-height: 1.5em;
 	padding: 3.5em;
 	border: dotted 0.75em green;
 	border-radius: 20px;
 	margin: 30px;
 }

 #flatbread {
 	background-color: coral;
 	font-family: serif, sans-serif;
 	font-size: 4em;
 	color: gold;
 	line-height: 1.5em;
 	padding: 0.25em;
 	border: solid 3em teal;
 	border-radius: 95px;
 	font-weight: 900;
 	margin: 40px;
 }